* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: dodgerblue;
    background-image: url("img/pattern.png");
    background-size: 30%;
    height: 110px;
}

#logo {

}